{% if page.locale == "zh-Hans" %}
  {% assign final_og_locale = "zh_CN" %}
{% else %}
  {% assign final_og_locale = "en_US" %}
{% endif %}

{% if page.homepage == true %}
  {% if page.locale == "zh-Hans" %}
    {% assign final_title = site.home_title_zh_hans %}
  {% else %}
    {% assign final_title = site.home_title %}
  {% endif %}
{% else %}
  {% assign final_title = page.title | append: " | " | append: site.title %}
{% endif %}

{% if page.locale == "zh-Hans" %}
  {% assign final_description = site.description_zh_hans %}
{% else %}
  {% assign final_description = site.description %}
{% endif %}
<title>{{ final_title }}</title>
<meta name="description" content="{{ final_description }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:title" content="{{ final_title }}" />
<meta property="og:description" content="{{ final_description }}" />
<meta property="og:image" content="{{ '/images/og-image.png' | absolute_url }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="{{ final_og_locale }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content="{{ final_title }}" />
<link rel="canonical" href="{{ page.url | absolute_url }}" />
{% if site.baidu_site_verification != nil %}
<meta name="baidu-site-verification" content="{{ site.baidu_site_verification }}" />
{% endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{% if page.url == '/' %}WebSite{% else %}WebPage{% endif %}",
  "name": "{{ site.title | escape }}",
  "headline": "{{ final_title | escape }}",
  "description": "{{ final_description | escape }}",
  "url": "{{ page.url | absolute_url }}"
}
</script>
{% if site.baidu_tracking_id != nil %}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?{{ site.baidu_tracking_id }}";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
{% endif %}