:root {
    --vp-home-hero-name-color: #c67e48;
    --vp-button-brand-bg: #c67e48;
    --vp-button-brand-hover-bg: #b67443;
    --vp-c-indigo-1: #c67e48;
    --vp-c-indigo-2: #b67443;
    --vp-c-indigo-3: #a86a3f;
}
